
/*********************************************
********** General Styling *******************
**********************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: firebrick;
}

a {
    text-decoration: none;
}


h3 {
    padding: 1.5rem 0;
}

h4 {
    text-align: center;
    padding: 2.5rem 0;
    text-transform: uppercase;
}

p {
    font-weight: 300;
}

h3,
h4,
p,
a   {
   color: #4a4a4a;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
}

.col {
    margin: 0 1rem 3rem;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
}

.row {
    width: 100%;
}

.line {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    padding: 0 1.4rem;
}

.line hr {
    width: 100%;
    border: .5px solid #e5e3e3;
}

/*********************************************
********** Header, Nav styles ****************
**********************************************/

header {
    background-color: #fafafa;
    padding: 1.5rem 1.5rem 3rem;
}

nav {
    font-weight: 500;
    letter-spacing: .05em;
}

.intro {
    text-align: center;
    font-weight: 300;
}

.intro p,
#contact p,
#contact a {
    color: #7f7f7f;
}

.intro img {
    max-width: 100%;
    padding: 3rem 1.6rem 1.6rem;
}

h1,
.top-nav {
    text-align: center;
}

.top-nav a {
    color: #4a4a4a;
}

.top-nav,
.top-nav li {
    width: 100%;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}

.top-nav a,
.top {
    text-transform: uppercase;
}

/*********************************************
********** skills Section ********************
**********************************************/

#skills {
    padding: 0 1rem 3rem;
}

#skills h4 {
    padding-top: 0;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}
.skills li:nth-child(odd) {
    background: #0399ff;
}

/*********************************************
********** Contact Section *******************
**********************************************/

#contact {
    background-color: #fafafa;
    text-align: center;
    padding: 0 1rem;
    font-weight: 300;
}

.contact_info {
    margin-top: 2.5rem;
}

.contact_info02 {
    padding: 1rem 0 3rem;
}

/*********************************************
********** Footer Section ********************
**********************************************/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 85px;
    background-color: #fafafa;
    font-size: 12px;
}

.full {
    display: none;
}

/*********************************************
********** Mobile styles 768px ***************
**********************************************/

@media (min-width: 768px) {

    .top {
        display: none;
    }

    #portfolio  {
        padding: 0 1rem;
    }

    #portfolio p {
        padding: 0 3rem;
    }

    .top-nav {
        margin-top: 0;
        padding: 1rem 0 2.5rem;
    }

    .top-nav a:hover,
    nav a:hover {
        text-decoration: underline;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 25px;
        background-color: transparent;
    }

    header {
        padding-top: 2.5rem;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .intro {
        display: flex;
    }

    .intro img {
        order: 1;
        max-width: 44%;
        padding: 0;
        margin-left: 2.2rem;
    }

    .intro p {
        text-align: left;
        margin-top: 0;
        font-size: 18px;
    }

    #contact p {
        padding: 0 10rem;
    }

    footer {
        padding-bottom: 3rem;
        height: 100px;
    }

    .col {
        flex-basis: calc(50% - 16px);
        margin: 0 .5rem 3rem;
    }

    ul.skills {
        padding: 0;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }
}

/*********************************************
********** Mobile styles 1024px **************
**********************************************/

@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: start;
        text-transform: uppercase;
        font-weight: 700;
    }

    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
        padding: 0 0 1.8rem;
        font-weight: 700;
    }

    .col {
        flex-basis: calc(33.333% - 17px);
    }
    header {
        padding: 4rem;
    }

    footer,
    .line {
        padding: 0 4.2rem;
    }

    footer {
        height: 75px;
    }

    .intro p,
    #contact p,
    .contact_info,
    .contact_info02 {
        font-size: 20px;
    }

    #contact p {
        padding: 0 15rem;
    }

    #portfolio,
    #skills {
        border-left: 30px solid #fafafa;
        border-right: 30px solid #fafafa;
    }

    #portfolio p {
        padding: 0;
        font-size: 14px;
    }

    .intro img {
        margin-left: 2.5rem;
    }

}